:root {
    --main-color: #343434;
    --navbar-color: #fff;
    --second-color: #1c1c1c;
}

body {
    font-family: "Poppins", sans-serif;
    color: #343434;
    font-weight: 400;
}


.bg-gray {
    background-color: #f7f7f7;
}

* {
    font-family: 'Montserrat', sans-serif;
    font-family: "Poppins", sans-serif;
}
a {
    text-decoration: none;
    color: inherit;
}
.navbar-text{
    flex-direction: column;
}
.navbar-brand{
    list-style: none;
    font-family: "Montserrat", sans-serif;
}
.section-padding {
    padding: 100px 0;
}
header .head-line span{
    display: inline-block;
    padding: 0.2rem 0;
}
.section-head {
    margin-bottom: 80px;
    text-align: center;
}
.nav-item .nav-link::before{
    color: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: red;
    left: 0;
    bottom: -3px;
    z-index: 999999999;
}
.section-head h3 {
    display: inline-block;
    font-weight: 900;
    font-size: 40px;
    position: relative;
    z-index: 4;
}

.section-head h3::after {
    content: "";
    background-image: url(../imgs/dots.png);
    width: 100%;
    height: 30px;
    background-repeat: repeat;
    position: absolute;
    bottom: -10px;
    left: 0;
    z-index: -1;

}

h3 {
    font-size: 30px;
}

.container {
    padding-right: 15px;
    padding-left: 25px;
    margin-right: auto;
    margin-left: auto;
}


.navbar-brand {
    font-weight: 800;
    font-size: 1.125rem;
    letter-spacing: 1px;
}

.nav-item {
    font-size: 0.875rem;

}

header {
    background-image: url(../imgs/bg.jpg);
    background-position: center center;
    background-size: cover;

}
header .social-icon i{
    font-size: 14px;
    width: 2.1875rem;
    height: 2.1875rem;
    line-height: 2.1875rem;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.3);
    

}
.navbar-toggler{
    background-color: var(--main-color);
}
header .social-icon{
    margin-top: 30px;
}

header .home-content h1::after{
    content: "|";
     animation: typing 6s linear 0.5s infinite;
 }
 /* Designer Developer */
 @keyframes typing{
     0% {content: "|";}
     3% {content: " D|";}
     6% {content: " De|";}
     9% {content: " Des|";}
     12% {content: " Desi|";}
     15% {content: " Desig|";}
     18% {content: " Design|";}
     21% {content: " Designe|";}
     24% {content: " Designer|";}
     27% {content: " Designe|";}
     30% {content: " Desig|";}
     33% {content: " Desi|";}
     36% {content: " Des|";}
     39% {content: " De|";}
     42% {content: " D|";}
     45% {content: " |";}
     48% {content: " D|";}
     51% {content: " De|";}
     54% {content: " Dev|";}
     57% {content: " Deve|";}
     60% {content: " Devel|";}
     63% {content: " Develo|";}
     66% {content: " Develop|";}
     69% {content: " Develope|";}
     72% {content: " Developer|";}
     75% {content: " Develope|";}
     78% {content: " Develop|";}
     81% {content: " Develo|";}
     84% {content: " Devel|";}
     87% {content: " Deve|";}
     90% {content: " Dev|";}
     93% {content: " De|";}
     99% {content: " D|";}
     100% {content: " |";}
   
 }

.home {
    position: relative;

}

.home .layer-home {
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0px;
    padding: 0;
    height: 100%;
    width: 100%;
    opacity: 0.9;
}

.home .home-content {
    position: absolute;
    color: #fff;
}

.home h5 {

    font-size: 3.125rem;
    font-weight: 900;

}

.home h1 {
    font-size: 3.75rem;
    font-weight: 200;
}

.hero-img img {
    height: auto;
}

.about .hero-img {
    position: relative;
}

.about .hero-img:after {
    content: "";
    width: 80%;
    height: 80%;
    position: absolute;
    left: -20px;
    bottom: -30px;
    background-image: url(../imgs/dots.png);
    background-repeat: repeat;
    z-index: -1;
}

.about .content h3 {
    font-weight: 800;
    margin-bottom: 5px;

}

.about .content .sub-title {
    letter-spacing: 2px;
    color: #999;
}

.content b {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
}

.skills {
    margin-top: 30px;
}

.skills .item {
    margin-bottom: 30px;
}

.skills .skills-progress {

    width: 100%;
    padding: 2px 10px;
    border-radius: 5px;
    background: #f7f7f7;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.15);
    position: relative;
}

.skills h6 {
    margin-bottom: 0.2rem;
    font-size: 13px;
    color: #fff;
    position: relative;
    z-index: 2;
}

.skills .skills-progress span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 10%;
    border-radius: 5px;
    background-color: var(--main-color);
    transition: all 1s;
}

.skills .skills-progress span::after {
    content: attr(data-value);
    position: absolute;
    color: #fff;
    top: 3px;
    right: 10px;
    font-size: 11px;
}

.about .btn {
    margin-top: 20px;
    padding: 10px 30px;
    border: 1px solid var(--second-color);
    border-radius: 5px;
    font-size: 13px;
    transition: all 0.5s;
}

.about .btn:hover {
    background: var(--second-color);
    color: #eee;
}

.btn-bg {
    background: var(--second-color);
    color: #eee;
    transition: all 0.5s;
}

.about .btn-bg:hover {
    background: transparent;
    color: var(--second-color);
}


.service {
    font-family: "Poppins", sans-serif;
}

.service .service-ico {
    background-color: #f4f4f4;
    font-size: 30px;
    width: 4rem;
    height: 4rem;
    margin: auto;
    transition: all 0.5s;
}

.service .service-box {
    padding: 50px 20px;
    border-radius: 5px;
    box-shadow: 0px 10px 30px -8px rgba(0, 0, 0, 0.1);
}

.service .service-box:hover .service-ico {
    background: var(--second-color);
    color: #eee;
}

.service .service-content p {
    word-spacing: 2px;
    font-size: 14px;
    color: #748182;
}

.service h6 {
    margin-bottom: 15px;
    font-weight: 800;
    font-size: 18px;
}

.nav-underline .nav-link {
    color: #222;
    font-weight: 700;
    font-size: 16px;

}

.nav-underline .nav-link:hover {
    border-bottom: transparent;
}

.work-item .work-item-layer {
    top: 5px;
    bottom: 5px;
    left: 5px;
    right: 5px;
    background: rgba(255, 255, 255, 0.95);
    opacity: 0;
    transform: translateY(10px);
    transition: all 0.5s;
    z-index: 2;
}
.work-item .work-item-layer:hover{
    opacity: 1;
    transform: translateY(0px);
    
}
.work-item .work-item-layer:hover .sm-titl{
    transform: translateY(5px);
}
.layer-info .layer-icon span{
    display: inline-block;
    width: 1.9rem;
    height: 1.9rem;
    line-height: 28px;
    border-radius: 50%;
    border: 1px solid #111;
    background: #111;
    color: #eee;
}
.layer-info .layer-icon span:hover {
    background-color: transparent;
    color: var(--main-color);
}
.v-middle{
    width: 100%;
    top: 50%;
    left: 0;
    transform: translate(0%, -50%);
    
}
.sm-titl{
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2px;
    position: relative;
    margin-bottom: 15px;
    transform: translateY(-15px);
    transition: all 0.6s;

}
h6{
    color: inherit;
}
.testmonial img{
    width: 100px;
}
.client p {
    word-spacing: 2px;
    line-height: 1.6;
    margin: 0;
    font-size: 15px;
    color: #748182;
}
.client h6 {
    color: var(--main-color);
    font-size: 16px;
    font-weight: 600;
    margin: 30px 0 5px;
}
.client span {
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
    color: #888;
    margin-bottom: 30px;
}
.carousel-indicators [data-bs-target]{
    background-color: #869791;
    color: #d6d6d6;
    width: 0.66rem;
    height: 0.66rem;
    border-radius: 50%;
    margin: 5px 7px;
    transition:  all 0.2s;
    
}
.testmonial button:not(.active):hover{
    background-color: #303332;
}
.testmonial .section-head{
    margin-bottom: 30px;
}
.numbers .icon {
    font-size: 30px;
    margin-bottom: 15px;
}
.numbers h3 {
    margin-top: 15px;
    font-weight: 900;
    margin-bottom: 15px;
}
.numbers p {
    font-weight: 600;
    margin-bottom: 30px;
    line-height: 1.6;
    margin: 0;
    font-size: 15px;
    color: #748182;
}
.single-team{
    background-color: rgba(52, 52, 52,.8);
    margin-bottom: 10px;
    border-radius: 6px;
}
.img-text{
    padding: 25px;
    color: #fff;
}
.img-area {
    overflow: hidden;
    position: relative;
}
.img-area .socials {
    background-color: rgba(255, 255, 255, 0.95);
    inset: 5px;
    z-index: 2;
    opacity: 0; 
    transition: 0.5s;
    transform: rotatey(180deg) scale(0.5 , 0.5);
     /* scale(0.5, 0.5);*/
} 
.single-team:hover .img-area .socials{
    opacity: 1;
    transform: none;
}
.img-area .socials ul {
    top: 175px;

} 
.img-area .socials ul li a {
    border: 1px solid #000;
    color: #fff;
    background-color: #000;
    display: block;
    font-size: 20px;
    height: 2.5rem;
    width: 2.5rem;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
} 
.img-area .socials ul li a:hover{
    background-color: #fff;
    color: #000;
}
.img-area img{
    transition: all 0.5s;
}
.img-area:hover img {
    transform: scale(1.2);
}
.contact .item .icon i{
    width: 3.75rem;
    height: 3.75rem;
    font-size: 25px;
    background-color: #f4f4f4;
    border-radius: 50%;
    margin-bottom: 15px;
    transition: all 0.5s;
}
.contact .item span{
    display: inline-block;
    margin: auto;

} 
.contact .item:hover i{
    background-color: var(--main-color);
    color: #fff;
}
/* ...............form ................. */
.form-group {
    margin-bottom: 15px;
}

.control input[type="text"], .control input[type="email"], .control textarea {
    width: 100%;
    border: 0;
    border-radius: 5px;
    padding: 10px;
    background: #f4f4f4;
}
input:focus , textarea:focus{
    outline: none;
}
form .buton{
    padding: 10px 40px;
    border: 1px solid var(--second-color);
    border-radius: 5px;
    font-size: 13px;
    transition: all 0.5s;
}
form .buton-bg{
    background: var(--second-color);
    color: #eee;
}
form .buton:hover{
    background-color: transparent;
    color: #111;
}
form .buton{
    float: left;
}
.col-md-offset-1 {
    margin-left: 8.33333333%;
}
footer{
    background-color: var(--second-color);
    padding: 30px;
}
footer p {
    font-size: 13px;
    word-spacing: 2px;
    color: #748182;
}